@tailwind base;
@tailwind components;
@tailwind utilities;

/* p {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
} */

/* h1 {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
} */

h1 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900 !important;
}
body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}
